@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.text-slider {
  @apply text-2xl text-white flex items-center flex-col gap-10 w-full my-3;
}
.text-slider h1 {
  line-height: 1.2;
  @apply md:text-[50px] text-[30px] max-w-5xl lg:max-w-[800px] font-bold;
}
.text-slider p {
  @apply text-[20px] max-w-5xl lg:max-w-[800px];
}

.caroussel img {
  filter: brightness(40%);
  @apply md:h-[1000px] h-[500px];
}
button {
  @apply text-2xl text-white font-semibold bg-blue-700 rounded-xl px-2 py-1;
}

.feature {
  @apply border-black border max-w-[500px] h-[200px] mx-auto text-center text-white rounded-xl px-4 py-4;
}
.feature h1 {
  @apply font-bold text-3xl mb-2;
}

Input {
  @apply rounded-lg text-2xl;
}
.color-font {
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,1) 15%, rgba(72,106,214,1) 79%, rgba(3,39,244,0.9284064665127021) 100%);
}


.lien {
  @apply  text-lg hover:border-white hover:border-b-2
}
/* style dashboard enseignant*/

.item {
  @apply flex items-center text-white h-[60px] px-4  bg-white/30 text-center w-full gap-6 hover:bg-blue-700;
}

.image-about {
  @apply w-[200px];
}
.overview-div{
  @apply h-48 w-56 lg:w-64 bg-black text-white rounded-xl px-4 py-2
}
